/node_modules
/public/hot
/public/storage
!/public/storage/app/Airports_final_02_06_Alex.csv
!/public/storage/app/airlines.csv
!/public/storage/app/pricings.csv
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/nbproject
/.idea
.idea
