@font-face {
    font-family: 'Capoon PERSONAL USE';
    src: local('Capoon PERSONAL USE Black'), local('CapoonPERSONALUSE-Black'),
        url('/fonts/subset-CapoonPERSONALUSE-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Capoon PERSONAL USE';
    src: local('Capoon PERSONAL USE Medium'), local('CapoonPERSONALUSE-Medium'),
        url('/fonts/subset-CapoonPERSONALUSE-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Capoon PERSONAL USE';
    src: local('Capoon PERSONAL USE Bold'), local('CapoonPERSONALUSE-Bold'),
        url('/fonts/subset-CapoonPERSONALUSE-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Capoon PERSONAL USE';
    src: local('Capoon PERSONAL USE Thin'), local('CapoonPERSONALUSE-Thin'),
        url('/fonts/subset-CapoonPERSONALUSE-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Capoon PERSONAL USE';
    src: local('Capoon PERSONAL USE Light'), local('CapoonPERSONALUSE-Light'),
        url('/fonts/subset-CapoonPERSONALUSE-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

