
// Body
// $body-bg: #f8fafc;
$body-color: #2b4b7a;

// Typography
$font-family-sans-serif: "Lato", sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

$headings-font-family: 'Capoon PERSONAL USE';
$main-font-family: 'Roboto', sans-serif !important;
$headings-font-weight: 300 !default;
$headings-color: #b58267;

// Colors
$white: #ffffff;
$blue: #2b4b7a;

$header-active: #2A60AE;
$header-inactive: #2B4060;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66D9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;
