//
// About page
//

.about-title {
    margin-top: -8.5rem;
    padding-top: 8.5rem;
    padding-bottom: 3.5rem;
    background-image: url("/images/about-wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;


    @media (min-width: 992px) {
        padding-top: 11rem;
        padding-bottom: 14rem;
    }

    .title-p-text {
        font-family: 'Capoon PERSONAL USE';
        font-size: 1.8rem;
        font-weight: 300;
    }
}

.text-padding {
    padding: 0px 0px 0px 200px;
}

.about-title h1 {
    font-family: Capoon PERSONAL USE;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    /* or 147% */

    color: #2B4B7A;

    opacity: 0.8;

}
.about-introduction {
    padding-top: 4rem;
}

.about-h3-text {
    font-size: 30px;
}

.about-services {
    padding-bottom: 4rem;
    
    .sky-philosophy-image {
        background-image: url("/images/sky-philosophy-photo.jpg");
    }

    .artificial-technology-image {
        background-image: url("/images/artificial-technology-photo.jpg");
    }

    .private-screening-image {
        background-image: url("/images/private-screening-photo.jpg");
    }

    .private-booker-image {
        background-image: url("/images/private-booker-photo.jpg");
    }
}
.txt-color {
    color: #373737;
}