//
// Aircraft page
//

.aircraft-title {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.aircraft-planes {
    color: $white;

    .planes-block {
        background-color: #113961;
        border-radius: 1rem;
        padding: 1.5rem 1.5rem;
        margin: 0 15px;

        @media (min-width: 576px) {
            padding: 1.5rem 3rem;
        }
    }

    .nav-tabs {
        border-bottom: none !important;

        .nav-link {
            padding: 0;
        }

        .nav-item {
            margin-bottom: 0;
        }

        .nav-item a {
            font-size: 0.9rem;
            text-decoration: none;
        }
        
        .nav-link {
            color: $white;
            border: none !important;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding-right: 1.5rem;
        }

        .last-nav-link {
            padding-right: 0;
        }

        .nav-link.active, .nav-tabs .nav-item.show .nav-link, a:hover {
            color: $white;
            background-color: transparent;
        }

        .nav-item a:after {
            content: '';
            display: block;
            margin: auto;
            margin-top: 0rem;
            height: 1.5rem;
            width: 0px;
            background: transparent;
        }
        
        .nav-item a:hover:after, .nav-item .active:after{
            font-size: 1.2rem;
            margin-top: -0.5rem;
            content: '↑';
            background: $headings-color;
        }
    }

    .tab-content ul {
        margin-bottom: 0;
    }

    .plane-tab {
        font-size: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .plane-block {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
        
        @media (min-width: 768px) {
            justify-content: none !important;
            margin-bottom: 0;
        }
    }

    .plane-list {
        font-size: 1.1rem;
        
        p {
            margin-bottom: 0;
        }
    }
    
    .plane-img {
        width: 100%;
        border: 2px solid #113961;
        border-radius: 1rem;
        

        @media (min-width: 576px) {
            display: block;
        }
    }
}