//
// Aircraft page
//

.aircraft-title {
    padding-top: 4rem;
    padding-bottom: 1rem;
}


.aircraft-planes {
    color: $black;

    .sec-style {
        background: #f0f6fa;
        
    }
    .tab-content {
        max-width: 100%;
        width: auto;
        @media (min-width: 768px) {
            padding-right: calc((100% - 720px) / 2 + 15px);
        }
    
        @media (min-width: 992px) {
            padding-right: calc((100% - 960px) / 2 + 15px);
        }
    
        @media (min-width: 1200px) {
            padding-right: calc((100% - 1200px) / 2);
        }
        
    }

    .planes-block {
        // background-color: #113961;
        border-radius: 1rem;
        
        //padding: 1.5rem 1.5rem;
        //margin: 0 15px;

        // @media (min-width: 576px) {
        //     padding: 1.5rem 3rem;
        // }
    }

    .nav-tabs {
        border-bottom: none !important;
        margin-left: 11%;
        .nav-link {
            padding: 0;
        }

        .nav-item {
            margin-bottom: 0;
        }

        .nav-item a {
            font-size: 0.9rem;
            text-decoration: none;
            text-align:center;
            padding:10px;
            width:100%;
            padding-bottom: 0px !important;
        }
        
        .nav-link {
            color: $black;
            border: none !important;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        .last-nav-link {
            padding-right: 0;
        }

        .nav-link.active, .nav-tabs .nav-item.show .nav-link, a:hover {
            color: $black;
            background-color: transparent;
        }

        .nav-item a:after {
            content: '';
            display: block;
            margin: auto;
            margin-top: 0rem;
            height: 1.5rem;
            width: 0px;
            background: transparent;
        }
        
        .nav-item a:hover:after, .nav-item .active:after{
            font-size: 1.2rem;
            margin-top: -0.5rem;
            background: $headings-color;
            right:40px;
        }
        .nav-item .active{ 
            border-bottom: 1px solid #CA9D86 !important;
            color: #CA9D86 !important;
            
        }
    }

    .tab-content ul {
        margin-bottom: 0;
    }

    .plane-tab {
        font-size: 24px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        color: #294A7A !important;
    }
    .plane-tab-2 {
        font-size: 14px;
    }

    .plane-block {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
        
        @media (min-width: 768px) {
            justify-content: none !important;
            margin-bottom: 0;
        }
    }

    .plane-list {
        font-size: 1.1rem;
        
        p {
            margin-bottom: 0;
        }
    }
    .car-padding {
        padding: 5%;
    }
    
    .plane-img {
        width: 100%;
        border: 2px solid #113961;
        border-radius: 1rem;
        

        @media (min-width: 576px) {
            display: block;
        }
    }
}