//
// Style for the chat modal window
//

.open-chat-icon {
    position: fixed;
    top: 80vh;
    left: 90vw;
    z-index: 999;

    i {
        color: $headings-color;
    }
}

.chat-app-info {
    height: 10vh;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-container {
    background-color: $headings-color;
    top: 20vh;
    left: 20vw;
}

.chat-history-container {
    height: 45vh;
    overflow-y: scroll;
}

.chat-history-container::-webkit-scrollbar {
    width: 0.35rem;
    border-radius: 2%;
}

.chat-history-container::-webkit-scrollbar-thumb {
    background-color: $blue;
    border-radius: 10px;
}

.message-container {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ddd;
    width: 60%;
}

.author-title-container {
    font-size: 0.85rem;
}

.date-chat-container {
    font-size: 0.7rem;
}

.chat-send-message:disabled {
    cursor: not-allowed;
}
