//
// Mobile app page
// 

.mobile-app-title {
    margin-top: -8.5rem;
    padding-top: 15rem;
    padding-bottom: 2rem;
    background-image: url("/images/plane-wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;

    .title-p-text {
        font-family: 'Capoon PERSONAL USE';
        font-size: 1.9rem;
        font-weight: 300;
    }
}

.mobile-app-benefits {
    padding-top: 2rem;
    background-image: url("/images/get-mobile-photo.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 52%;

    @media (min-width: 1200px) {
        margin: 0 calc((100% - 1140px) / 2 - 4rem);
    }

    .download-container {
        margin-top: 4rem;
    }

    .ios {
        width: 191px;
    }

    .android {
        width: 223px;
    }

    .download-img {
        display: block;
        margin: auto;
        width: 140px;
    }

    .download-text {
        padding-top: 1rem;
        text-align: center;
    }
}