//
// Testimonials section
// 

.testimonials {
    padding-top: 4rem;
    padding-bottom: 18rem;
    background-image: url("/images/main-wallpaper-4.jpg");
    background-repeat: no-repeat;
    background-position: 75% 0%;
    background-size: cover;
    border-radius: 16px;


    @media (min-width: 992px) {
        height:570px;
    }

    @media (min-width: 1600px) {
        height:760px;
    }
    .carousel-item {
        min-height: 17rem;
    }

    .testimonials-img {
        width: 3.5rem;
    }

    .testimonials-text {
        color: $white;
        font-size: 1.3rem;
        text-align: center;

        @media (min-width: 576px) {
            font-size: 1.4rem;
        }
    }

    .testimonials-person {
        color: $white;
        font-size: 0.7rem;
    }
}

.testimonials-landing {
    padding-top: 6rem !important;

    .carousel-item {
        min-height: 0 !important;
    }
}

.text-bg {
    width: 480px;
    height: 130px;

    background: linear-gradient(180deg, #FFFFFF 83.07%, rgba(255, 255, 255, 0.84) 100%);
    border: 1px solid rgba(42, 96, 174, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    left: 70px;
}
.img-pos {
    top: 35px;
    left: -22px;
    width: 30%;
}
.text-pos {
    left: 76px;
    top: -35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 125% */
    color: #000000;

    //width: 70%;

}
.text-pos h6{
    font-weight: 600;
    left: 76px;
    top: -35px;
    font-size:16px;
    font-family: Roboto;
    font-style: normal;
    color: #000000;
}
.carousel-control-prev2 {
    left:25px !important;
}
.carousel-control-next2 {
    right:25px !important;
}
.carousel-control-prev-icon2 {
    background-image: url('/images/prev.svg') !important;
    height: 45px !important;
    
}

.carousel-control-next-icon2 {
    background-image: url('/images/next.svg') !important;
    height: 45px !important;
    right: 25px;
}

.carousel-indicators2 {
    bottom: -50px !important;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    color: #EDF5FB !important;
  }
