//
// Text pages
//

.text-page {
    margin-top: -8.5rem;
    padding-top: 17.1rem;
    background-image: url("/images/text-page-photo.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: 992px) {
        padding-top: 30.1rem;
    }

}

.page-text {
    padding-top: 4rem;
    padding-bottom: 4rem;
}